@use "./variables" as *;

.contact {
  background: $green1;
  .social {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    div
    {
      color: $black;
      font-weight: bold;
      a {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    } 
  }
  a.mail {
    color: $red;
  }
  a.mobile {
    color: #333;
  }
}
