@use "./global_classes";
@use "./variables" as *;

.skills {
  background-color: $white;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .skill {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $blue;
    padding-block: 10px;
    transition: $hover-transition;
    -webkit-transition: $hover-transition;
    -moz-transition: $hover-transition;
    -ms-transition: $hover-transition;
    -o-transition: $hover-transition;
    background-color: $white;
    width: 175px;
    max-width: 200px;
    img {
      max-width: 75%;
      max-height: 100px;
    }
    h3 {
      font-size: 1.2em;
      color: $blue;
    }
    &:hover {
      @extend %box-hover;
      box-shadow: -8px 8px 0px $blue;
    }
  }
}
