@use "./global_classes";
@use "./variables" as *;

.skills {
  background-color: $black;
  .main-heading {
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  .skill {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $red;
    padding-block: 10px;
    transition: $hover-transition;
    -webkit-transition: $hover-transition;
    -moz-transition: $hover-transition;
    -ms-transition: $hover-transition;
    -o-transition: $hover-transition;
    min-width: 150px;
    max-width: 200px;
    background-color: $white;
    img {
      max-width: 75%;
    }
    h3 {
      font-size: 1.2em;
      color: $red;
    }
    &:hover {
      @extend %box-hover;
      box-shadow: -8px 8px 0px $red;
      border-color: black;
    }
  }
}
.skill img {
  max-width: 100%;
}
