$black: #10162f;
$red: #d95252;
$green1: #add9d1;
$green2: #038c7f;
$green3: #027373;
$green4: #0cb9c1;
$white: #f0f0f0;
$blue: #1787e0;
$sky-blue: #00bce4;
$hover-transition: transform 0.2s ease, box-shadow 0.2s ease;
$translate: translate(5px, -5px);
$box-shadow: -8px 8px 0px $black;
$border: 1px solid $black;
$nav-transtion: 0.3s ease-in-out;
$white2: #c4dff6;
$grey: #d0d2d3;
